header {
    /*align-content:end;*/
    justify-content: right;
    background-color: darkgray;
}

.goods-item {
    outline: solid;
    width: 10%;
    /*display: flex;
    justify-content: space-around;*/
}

    .goods-item .price {
        /*justify-content:right;*/
        /*justify-content: end;*/
        /*float: right;*/
        /*margin-left: auto;*/
        /*margin-right: 0;*/
    }