<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kodchasan:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="app">
        <header>
            <a href="#" class="cart-button" @click="visible">Basket</a>
            <div class="basket" v-show="isVisibleCart">
                <h2 class="basket__title">Basket:</h2>
                <div class="basket__goods" v-for="good in selectedGoods" >
                    <span>{{good.product_name}}: {{good.price}}</span>
                    <button @click.self='removeFromBasket(good)'class="removeButton">Remove</button>
                </div>
                <div class="total-price">
                    Total price: {{calcPrice}}
                </div>
            </div>
            <div>
                <input type="text" class="goods-search" v-model='searchText'>
                <button class="search-button" type="button" v-on:click='filterGoods'>Search</button>
            </div>
        </header>
        <main>
            <div class="goods-list">
                <div class ="goods-item" v-for="good in filteredGoods">
                    <h3>{{good.product_name}}</h3>
                    <p class="price">{{good.price}}</p>
                    <button @click.self='addBasket(good)' class="addButton">Add to basket</button>
                </div>
                <div v-if="!filteredGoods.length">Нет данных</div>
            </div>
        </main>
    </div>
    <script src="script/main.js"></script>
</body>
</html>